
header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 4rem;
    height: 5vh;
    width: 100%;
    background-color: #224f34;
    opacity: 0.85;
    color: ivory;
    font-size: xx-large;
}

article {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    height: 80vh;
    width: 90vw;
    margin-bottom: 2rem;
}


/// ------   Footer ------- ///
.new_footer_area {
    background: #224f34;
}

.new_footer_top {
    position: relative;
    overflow-x: hidden;
}

.footer {
    color: #fefefe;
    width: 100%;
    bottom: 0;
    left: 0;

    .content {
        display: flex;
        justify-content: space-evenly;
    }

    .content p {
        margin-bottom: 1rem;
    }

    .content h4 {
        margin-bottom: 1rem;
        font-size: 19px;
    }

    .details {
        max-width: 60%;
    }

    a {
        color: #fefefe;
        cursor: pointer;
    }

    .social-media a {
        display: block;
        line-height: 2rem;
    }
}

@media (max-width: 767px) {
    .footer .content {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    .footer {
        position: unset;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .footer .content,
    .footer {
        font-size: 14px;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .footer {
        position: unset;
    }
}
